.home-page {
  background: url('https://img5.goodfon.com/wallpaper/nbig/f/df/beautiful-nebo-leto-tropical-summer-bereg-pliazh-palms-beach.jpg');
  background-repeat: no-repeat; 
  background-position: center;
}

.hr {
  height: 5px;
}